<!-- include header -->
<%-include('include/_header') %>
<!-- /include header -->
<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
            <div class="filter">
                <a href="/"><i class="fas fa-angle-double-left"></i>AlL Users</a>
            </div>
            </div>
            <div class= "form-title text-center">
                <h2 class="text-dark">UPDATE USER</h2>
                <span class="text-light">Use the below form to update a account</span>

            </div>
            <form  method="POST" id="update_user">
            <div class="new_user">
                <div class="form-group">
                    <label for="name" class ="text-light">Name</label>
                    <input type="hidden" name = "id" value="<%=user._id%>">
                    <input type="text" name="name"  value ="<%=user.name%>" placeholder="Raj Sinha">
                </div>
                <div class="form-group">
                    <label for="email" class ="text-light">E-mail</label>
                    <input type="text" name="E-mail"  value ="<%=user.email%>" placeholder="example@gmail.com">
                </div>
                <div class="form-group">
                    <div class="radio inline">
                        <input type="radio" id="radio-2" name="Gender"  value ="male"<%= user.gender == 'Male' ? 'checked' : '' %>> 
                        <label for="radio-2" class ="radio-label">Male</label>    
                    </div>
                    <div class="radio inline">
                        <input type="radio"  id="radio-3" name="Gender"  value ="Female"<%= user.gender == 'Female' ? 'checked' : '' %>> 
                        <label for="radio-3" class ="radio-label">Female</label>    
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="radio inline">
                    <input type="radio" id="radio-4" name="Status"  value ="active"<%= user.status == 'Active' ? 'checked' : '' %>> 
                    <label for="radio-4" class ="radio-label">Active</label>    
                </div>
                <div class="radio inline">
                    <input type="radio"  id="radio-5" name="Status"  value ="Inactive"<%= user.status == 'Inactive' ? 'checked' : '' %>> 
                    <label for="radio-5" class ="radio-label">Inactive</label>    
                </div>
            </div>
            <div class="form-group">
                <button  type="submit" class="btn text-dark update">Save</button>
            </div>
        </div>
            
                        
        </form>
            
            </div>
        </main>
<!-- include footer -->
<%-include('include/_footer') %>
<!-- /include footer -->